#navbar {
  min-height: 150px;
  background-color: #321F47;
  margin-top: 20px;
  margin-bottom:40px;
  display:flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.headfont {
  color: #FFA8DF;
}

#socials {
  margin-right: 20px;
  margin-left: 20px;
}
#socials > i {
  margin-left: 10px;
  margin-right: 10px;
}

#headline {
  margin-left: 30px;
  font-size: 5em;
  font-family: 'Vampiro One', cursive;
}

#outerContainer {
  display:flex;
  overflow-wrap: break-word;
}

#graphing > div {
  margin-bottom: 20px;
}
#graphing {
  width: 20vw;
  min-width: 90px;
  padding: 0px 10px;
  height: 1000px;
  flex: 0 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#innerContainer {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#newEntry {
  display: flex;
}

.newInputFlex {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

button:focus {
  outline: none !important;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  background-color: #FD5C55;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 1px 2px #FFA8DF;
}

.smallInput {
  display: inline-block;
  font-size: 0.9em;
  padding: 5px 10px; 
}

body {
  background-color: #321F47;
  color: white;
  font-size: calc(14px + 0.25vw);
  font-family: 'Open Sans', sans-serif;
}


/* Responsive tables */

table {
  border: 1px solid #ccc;
  width: 70%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
}

table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {

  .newInputFlex {
    display: inline-block;
  }

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table:first-child tr {
    margin-top: 10px;
  }
  
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}