<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/ade5f0bcef.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <link href="static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Vampiro+One" rel="stylesheet">
  </head>
  <body>
    <div id="everything">
      <nav id="navbar">
        <div id="headline" class="headfont">Diaper Time</div>
        <div id="socials" class="headfont">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </div>
      </nav>
    </div>
    <div id="outerContainer">
      <div id="graphing">
        <div id="newEvent">
          <button id="addEvent">New Event</button>
        </div>
      </div>
      <div id="innerContainer">
        <table id="mainTable" class="table table-hover">
          <thead>
            <tr>
              <th>Attended</th>
              <th>Pee</th>
              <th>Poop</th>
              <th>Bottle</th>
              <th>Slept At</th>
            </tr>
          </thead>
          <tr id="newEntry">
            <td id="newEntryAttended" data-label="Attended"></td>
            <td id="newEntryPee" data-label="Pee"></td>
            <td id="newEntryPoop" data-label="Poop"></td>
            <td id="newEntryBottle" data-label="Bottle"></td>
            <td id="newEntrySlept" data-label="Slept"></td>
          </tr>
        </table>
      </div>
    </div>
    <script>
    var diaperEvents = JSON.parse('{{data | safe }}');
    </script>
    <script src="static/diapertime.js"></script>
  </body>
</html>