#navbar {
  min-height: 150px;
  background-color: #321F47;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.landingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingSpinner {
  margin-top: 50px;
}
.landingHeader {
  font-size: 6.5em;
  margin-top: 30px;
  text-align: center;
}

.landingLink {
  text-decoration: none;
}

.topBottomSpace {
  margin-top: 20px;
}

.faded {
  opacity: 0.38;
}
.notFaded {
  opacity: 1;
}

.fa-spacing {
  margin-left: 3px;
  margin-right: 3px;
}

.tdFlexDiv {
  display: flex;
  justify-content: center;
}

.headfont {
  color: #FFA8DF;
}

a:link {
  color: #FFA8DF;
}

a:visited {
  color: #FFA8DF;
}

#socials {
  margin-right: 20px;
  margin-left: 20px;
}
#socials > a {
  margin-left: 10px;
  margin-right: 10px;
}

#headline {
  font-size: 5em;
  font-family: 'Vampiro One', cursive;
}

#outerContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  width: 90%;
}

.newEntryTd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.newEntryTd > * {
  margin-bottom: 10px;
}

.newEntrySpanStyle {
  text-align: center;
  font-size: 1.1em;
}

.newInputFlex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

button:focus {
  outline: none !important;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  background-color: #FD5C55;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}

.ghostButton {
  background: #e7706a;
  color: #666;
}

.smallInput {
  box-shadow: none;
  display: inline-block;
  font-size: 0.9em;
  padding: 5px 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.largeInput {
  width: 160px;
}

body {
  background-color: #321F47;
  color: white;
  font-size: calc(14px + 0.25vw);
  font-family: 'Open Sans', sans-serif;
}


/* Responsive tables */
table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
}

table th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 650px) {

  .tdFlexDiv {
    justify-content: flex-end;
  }

  .newInputFlex {
    display: inline-block;
  }

  .newEntryTd {
    height: auto;
  }

  table {
    border: 0;
    min-width: 320px;
    width: 100%;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table:first-child tr {
    margin-top: 10px;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot');
  src: url('/fonts/Open-Sans-regular/Open-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Open Sans'),
       local('Open-Sans-regular'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff2') format('woff2'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.woff') format('woff'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.ttf') format('truetype'),
       url('/fonts/Open-Sans-regular/Open-Sans-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Vampiro One';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Vampiro-One-regular/Vampiro-One-regular.eot');
  src: url('/fonts/Vampiro-One-regular/Vampiro-One-regular.eot?#iefix') format('embedded-opentype'),
       local('Vampiro One'),
       local('Vampiro-One-regular'),
       url('/fonts/Vampiro-One-regular/Vampiro-One-regular.woff2') format('woff2'),
       url('/fonts/Vampiro-One-regular/Vampiro-One-regular.woff') format('woff'),
       url('/fonts/Vampiro-One-regular/Vampiro-One-regular.ttf') format('truetype'),
       url('/fonts/Vampiro-One-regular/Vampiro-One-regular.svg#VampiroOne') format('svg');
}
